<div class="hide">
<!--   <span class="currency-picker__label">Pick a currency</span> -->
  <select class="currency-picker" name="currencies" data-default-shop-currency="{{ shop.currency }}">
  {% assign codes = 'USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK' | split: ',' %}
  {% assign supported_codes = settings.supported_currencies | split: ' ' %}
  <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
  {% for code in supported_codes %}
    {% if code != shop.currency and codes contains code %}
    <option value="{{ code }}">{{ code }}</option>
    {% endif %}
  {% endfor %}
  </select>{% include 'icon-chevron-down' %}
</div>
<div class="top-bar-left" id="selected__curency">    
<ul class="tbl-list lisi-inline mar-zero">         
    <li class="currency dropdown-parent uppercase currency-block">
      <a data-toggle="dropdown" href="javascript:;" class="currency_wrapper dropdown-toggle">
        <span class="currency_code">
          <span class="flags flags-{{code }}"></span>
          <span class="country_cod">{{code}}</span>          
        </span>
        {% include 'icon-chevron-down' %}
      </a>
      <ul class="currencies dropdown-menu">
          {% for code in supported_codes %}
              <li class="currencies" data-value="{{ code }}">
                 <a href="javascript:void(0);"><span class="flags flags-{{code }}"></span><span class="country_cod">{{ code }}</span></a>
                   <input type="hidden" value="{{ code }}">
              </li>
          {% endfor %}    
      </ul>
    </li>
</ul>
</div>
